.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(204, 200, 200);
    z-index: 100;
}
.left-section{
display: flex;
align-items: center;

}
.hamburger-menu{
height: 25px;
margin-left: 24px;
margin-right: 24px;
}
.youtube-logo{
height: 20px;
}
.middle-section{
display: flex;
align-items: center;
flex: 1;
margin-right: 35px;
margin-left: 70px;
max-width: 500px;
}
.search-bar{
flex: 1;
height: 36px;
padding-left: 10px;
border-radius: 2px;
border: 1px solid rgb(192, 192, 192) ;
box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
width: 0;
}
.search-bar::placeholder{
font-family: Roboto, Arial;
font-size: 16px;

}

.search-icon{
height: 25px;

}
.search-button{
height: 40px;
width: 60px;
border: 1px solid rgb(192, 192, 192);
margin-left: -1px;
background-color: rgb(240, 240, 240);

}
.search-button,
.voice-search-button,
.upload-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notification-container .tooltip{
    position: absolute;
    font-family: Roboto, Arial;
    background-color: gray;
    color: white;
    font-size: 12px;
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.25s;
    pointer-events: none;
    white-space: nowrap;
   
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notification-container:hover .tooltip{
    opacity: 1;
}
.voice-search-icon{
height: 25px;


}
.voice-search-button{
height: 40px;
width: 40px;
margin-left: 10px;
border-radius: 20px;
border: none;
background-color: rgb(245, 245, 245);
}

.right-section{
width: 180px;
display: flex;
align-items: center;
justify-content: space-between;
margin-right: 20px;
}
.upload-icon{
height: 24px;
}
.youtube-apps-icon{
height: 24px;
}
.notification-container{
    position: relative;
}
.notification-count{
    position: absolute;
    background-color: rgb(200, 0, 0);
    color: white;
    font-family: Roboto, Arial;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-size: 11px;
    top: -2px;
    right: -5px;
}
.notifications-icon{
height: 24px;

}
.Logo{
height: 32px;
border-radius: 16px;
flex-shrink: 0;
}