.sidebar{
    background-color: white;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    z-index: 200;
   
}

.sidebar-link{
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar-link:hover{
    background-color: rgb(233, 226, 226);
    transition: background-color 1s;
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;

}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
    
}