.cover-pic{
    width: 100%;
    position: relative;
    margin-bottom: 8px;
   
}
.pic{
    width: 100%;
}
.video-time{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 8px;
    right: 5px;
    padding: 4px;
    font-family: Roboto, Arial;
    font-weight: 500;
    border-radius: 2px;
}

.channel-picture{
    display: inline-block;
    width: 50px;  
    vertical-align: top;
}
.profile-picture{
    width: 36px;
    border-radius: 20px;
    
}

.grid-align{
    display: grid;
    grid-template-columns: 50px 1fr;
   
}

.title{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 20px;
}
.author{
    color: #606060;
    font-size: 12px;
    margin-bottom: 4px;
}
.stats{
    color: #606060;
    font-size: 12px;
    margin-top: 0;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
/* Media query is used to make responsive webpages*/
@media (max-width: 700px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 751px) and (min-width: 999px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/*Links*/
.video-link{
    color: black;
    text-decoration: none;
}
.channel-link{
    color: #606060;
    text-decoration: none;
}